<div>

    <p>Regelmatig publiceert dotNed een nieuwsbrief. In deze nieuwsbrief staan nieuwtjes op het gebied van .NET, links naar artikelen en alle informatie over de bijeenkomsten die wij organiseren. Aanmelden is eenvoudig via onderstaand formulier. Dan krijg je de nieuwsbrief iedere keer op tijd in je mailbox en hoef je geen bijeenkomst meer te missen!</p>
    <p><em>(Afmelden is ook simpel. In elke nieuwsbrief staat onderaan een link om je weer af te melden.)</em></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><strong></strong></p>
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>Aanmelden voor de nieuwsbrief</legend>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Naam</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Naam" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLocation" class="col-lg-2 control-label">Plaats</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="inputLocation" name="inputLocation" placeholder="Plaats">
                    <span class="help-block">We gebruiken deze informatie om onze bijeenkomsten zo goed mogelijk in te plannen. Dit veld is optioneel.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputInterests" class="col-lg-2 control-label">Interesses</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="inputInterests" name="inputInterests" placeholder="Interesses">
                    <span class="help-block">Voorbeelden: ASP.NET, architectuur, databases, client development. Dit veld is optioneel.</span>
                </div>
            </div>
            <div class="form-group extra">
                <label for="inputInterests" class="col-lg-2 control-label">Functie</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="inputFunction" name="inputFunction" placeholder="Functie">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button disabled="disabled" type="submit" id="buttonSubmit" value="verzenden" name="buttonSubmit" class="btn btn-primary">Meld me aan voor de nieuwsbrief</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
