<div>
    <h1>De dotNed - Pluralsight Study group</h1>

    <p>Sinds 2014 hebben we met de dotNed gebruikersgroep een nieuw initiatief. In samenwerking met <a href="http://www.pluralsight.com/">Pluralsight</a> beginnen we een studie groep. Het format is eenvoudig. We organiseren 5 weken lang woensdag avonden waarin we gezamenlijk een Pluralsight cursus gaan doen. Elke avond begint om 19 uur en duurt ongeveer twee uur. Het eerste uur bekijken we, afhankelijk van de lengte<strong>,</strong> een of twee modules van een cursus. Na dit eerste uur met de groep video kijken hebben we een tweede uur om gezamenlijk code te schrijven en over het cursusmateriaal te praten. Uiteraard is het een goed idee om zelf een laptop mee te nemen als je ook echt code wilt gaan schrijven.</p>
    <p>We zijn klaar met de planning van de volgende studiegroep. Het onderwerp deze keer is Git en behandelen we <a href="https://www.pluralsight.com/courses/git-visual-studio-developers">Git for Visual Studio Developers</a> en <a href="https://www.pluralsight.com/courses/advanced-git">Advanced Git</a>! Inschrijven nu mogelijk via de meetings pagina <a href="/dotned-bijeenkomst/pluralsight-studiegroep-git-for-visual-studio-developers/?id=105">hier</a>.</p>
    <p>De eerste avond is woensdag 3 februari en de laatste avond is op woensdag 2 maart. Zet dus in je agenda:</p>
    <ul>
        <li>Woensdag 3 februari - 19:00</li>
        <li>Woensdag 10 februari - 19:00</li>
        <li>Woensdag 17 februari - 19:00</li>
        <li>Woensdag 24 februari - 19:00</li>
        <li>Woensdag 2 maart - 19:00</li>
    </ul>
    <p>Uiteraard wordt de innerlijke mens niet overgeslagen. We beginnen om 19 uur met de Pluralsight video, maar dankzij onze sponsor <a href="http://www.delta-n.nl/">Delta-N</a> ben je vanaf 18 uur welkom om alvast een hapje te eten. Tevens zal er gelegenheid zijn om met een drankje na te praten. Dankzij Pluralsight krijgt iedere deelnemer de eerste keer ook een gratis maandabonnement op de gehele Pluralsight bibliotheek.</p>
    <h3 style="text-align: center;"><strong><a href="/dotned-bijeenkomst/pluralsight-studiegroep-git-for-visual-studio-developers/?id=105">Schrijf snel in!</a><a href="/dotned-bijeenkomst/pluralsight-studiegroep-testing-web-applications-with-codedui/?id=94" title="Inschrijven voor de dotNed - Pluralsight Study Group"><br /></a></strong></h3>
    <p style="text-align: center;"> </p>

</div>
