        
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>dotNed  - d&#233; Nederlandse .NET User Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://www.dotned.nl/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://www.dotned.nl/css/styles.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "ur-8393f222-c13b-b264-7a8f-f485d74a477f", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
    <meta property="og:image" content="http://www.dotned.nl/media/1052/logo_dotned.gif" />
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap" class="row">
        <header class="masthead" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h1>
                            <a href="/" title="dotNed - dé Nederlandse .NET User Group">
                                <img src="/images/logo_dotned.gif" />
                            </a>
                        </h1>
                    </div>
                    <div class="col-lg-9 col-sm-6">
                        <div class="pull-right hidden-xs" style="margin-top:20px;">
                            <script>
				if(Math.random() >= .5)
				{
					document.write('<a href="http://carriere.infosupport.com/Net" target="_blank"><img class="img-responsive"  alt="Maak jij het verschil?" src="/media/1056/ihr15-1101_banners_dotnet_v5.gif"></a>');
				}
				else
				{
					document.write('<a href="https://www.echtleukwerk.nl/" target="_blank"><img class="img-responsive"  alt="Wat doe jij volgende maand?" src="/media/1055/banner-macaw.gif"></a>');
				}
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Fixed navbar -->
        <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-justified">
                        <li><a href="/#home">Home</a></li>
                        <li><a href="/#meetings">Meetings</a></li>
                        <li><a href="/studiegroep">Studygroup</a></li>
                        <li><a href="/overdotned"><strong>Over dotNed</strong></a></li>
                        <li><a href="/nieuwsbrief/">Nieuwsbrief</a></li>
                        <li><a href="/contact/">Contact</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div><!--/.navbar -->
        <!-- Begin page content -->



        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class='container'>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                               @RenderBody()

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class='container'>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="divider" id="section5"></div>

        <!--/container-->
    </div><!--/wrap-->
    <div id="footer">
        <div class="container">
            <p class="text-muted">
                &copy; 2016 <a href="http://www.dotned.nl">dotNed</a> |
                <a href="/contact/">Neem contact op</a> |
                <a href="/privacy-en-cookiebeleid/">Privacy en cookiebeleid</a>
            </p>
        </div>
    </div>
    <ul class="nav pull-right scroll-top">
        <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>
    <!-- script references -->

    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>