<div>
    <div>
        <div class="page-header text-center">
            <h1>dotNed - dé Nederlandse .NET User Group</h1>
        </div>
        <p class="lead text-center">
            dotNed is een non-profit organisatie met een aantal doelen:
        </p>
        <p class="text-center">
            Het verspreiden van kennis over het .NET platform<br />
            Het bieden van een online en offline ontmoetingsplaats voor .NET ontwikkelaars<br />
            Uitwisselen van ideeen, kennis en gedachten over .NET<br />
        </p>
        <p>
            Om dat te bereiken doen wij een aantal dingen. We organiseren een aantal keer per jaar een gratis bijeenkomst
            waarin we een bepaald aspect van .NET onder de loep nemen. We hebben daar vaak gerenommeerde sprekers voor, uit binnen- en buitenland.
            Maar ook hebben we vaak sprekers uit de community, mensen zoals jij en ik, die willen vertellen over hun ervaringen, projecten of leuke en interessante dingen die ze met .net doen!
        </p>
        <p>
            Daarnaast hebben we een <a href="http://www.dotned.nl/nieuwsbrief/">nieuwsbrief</a> waarin we alles vermelden wat met dotNed te maken heeft.
        </p>
        <p>
            Je ziet het, als .NET ontwikkelaar hoort deze site absoluut in je favorieten te staan!
        </p>
    </div>
</div>
<div class="divider" id="section2"></div>
<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">User Group meetings</h2></div>
</section>

<div class="divider" id="meetings"></div>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Gratis bijeenkomsten voor .NET ontwikkelaars</h2>
        <p>
            Iedere maand organiseert dotNed een gratis bijeenkomst voor .NET ontwikkelaars.
            In principe is die bijeenkomst op de 4e donderdag van de maand (met uitzondering van december, of als deze dag op een feestdag valt).
            Op de bijeenkomsten kunt u leren over verschillende aspecten van het .NET Framework en aanverwante producten.
            Verder bieden de maandelijkse bijeenkomsten uitstekende mogelijkheden om kennis te maken met andere ontwikkelaars.

            Heb je wensen of ideeën voor de maandelijkse bijeenkomsten, of wil je zelf een presentatie geven, stuur dan een email naar info@dotned.nl.
        </p>
        <hr>
        <h2>Nieuwe bijeenkomsten</h2>
        <div class="upcoming-meetings">
            <a href="/dotned-bijeenkomst/from-zero-to-hero-running-your-aspnet-5-application-in-a-docker-container/?id=108">
                <div class="date">
                    25 feb
                </div>
                <div class="">
                    <h3>From zero to hero, running your ASP.NET 5 application in a Docker container</h3>
                </div>
            </a>
            <p><img alt="" src="http://cdn.dotned.nl/Files/centric_logo_x2.png" style="width: 240px; height: 91px;" /></p>

            <p>Op donderdag 25 februari zijn we te gast bij <a href="http://www.centric.eu/NL/Default" target="_blank">Centric </a>waar Maurice de Beijer je op de hoogte gaat brengen over Docker en de mogelijkheden voor ons als .NET ontwikkelaars om dit toe te passen.</p>

            <p>Je kan op dit moment bijna niet om Docker heen. Zodra je ook maar iets over het hosten van applicaties of DevOps leest is de kans groot dat Docker genoemd wordt. Maar Docker is tot nu toe voornamelijk een Linux fenomeen. Waarom er dan als .NET ontwikkelaar toch aandacht aan besteden? Met ASP.NET Core 1.0 en .NET Core 1.0, de nieuwe namen voor ASP.NET 5 en CoreCLR, is het mogelijk om dezelfde applicatie zowel op Windows, Linux als OS X te draaien. Dit betekent dat het in een keer mogelijk wordt om alle .NET Core 1.0 applicaties binnen een Linux Docker container te draaien. Maar met Windows Server 2016 komt Docker ook naar Windows. Daarmee kunnen alle .NET applicaties in een Windows Docker container draaien. Dat dit kan is leuk maar heeft dit ook echt voordelen? En wat betekent dit voor de architectuur van jouw applicatie?<img alt="Docker" src="http://cdn.dotned.nl/Files/docker.png" style="margin: 5px; width: 271px; height: 242px; float: right;" /></p>

            <p>In deze sessie gaat&nbsp;Maurice er van uit dat je nog geen enkele ervaring met Docker hebt. We beginnen bij de basis en kijken wat de principes zijn die Docker containers mogelijk maken. Dan gaan we een ASP.NET applicatie in een Linux Docker container hosten om te zien hoe gemakkelijk of moeilijk dat nu eigenlijk is. En dan doen we hetzelfde met een Windows Docker container om het verschil te zien. Uiteindelijk kijken we nog hoe Docker in het grote plaatje van de architectuur past en waar je nog meer allemaal rekening mee moet houden.</p>

            <p>Dus als je je web applicaties, ASP.NET en zaken als DevOps serieus neemt, kun je niet om deze sessie heen!</p>

            <p>Deze avond in Gouda begint zoals altijd om 19.00 maar de deur is om 18.00 al open voor een hapje en een drankje.&nbsp;Schrijf je hieronder gratis in.&nbsp;</p>

            <p>&nbsp;</p>
            <div class="more-info">
                <a href="/dotned-bijeenkomst/from-zero-to-hero-running-your-aspnet-5-application-in-a-docker-container/?id=108">Schrijf je in.</a>
            </div>
            <hr />

        </div>
    </div>
</div>
